.font-effect-3d {
  text-shadow: 0px 2px 0px #767779, 0px 3px 0px #4f5052, 0px 4px 0px #212222;
  color: #fff;
}

.hidden {
  display: none !important;
}

#htmlinclude {
  position: absolute;
  top: 25px;
}

#background {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#header_txt {
  top: 0px;
  font-size:48px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#left_txt {
  font-size:24px;
  top: 200px; /* a guess based on where the header would end */
  left: 0px;
  text-align: left;
  margin-right: 25px;
}

#right_txt {
  font-size:24px;
  right: 0px;
  top: 200px; /* a guess based on where the header would end */
  text-align: right;
  margin-left: 25px;
}

#footer_txt {
  bottom: 0px;
  font-size:24px;
  padding-bottom: 35px;
  text-align: center;
}

#center_txt {
  font-size:48px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display:table;
}

#center_img {
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position-x: center;
  background-position-y: center;
}

.txtregion {
  width: calc(100% - 40px);
  background-color: rgba(1, 45, 94, 0.81);
  color: rgba(90, 83, 255);
  font-family: 'Roboto Slab', serif;
  padding: 20px;
  position: absolute;
}

.txtregion ul {
  list-style: none;
}

.imgregion {
  width: 50%;
  height: 50%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imgregion_full {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size:   contain;
  background-repeat: no-repeat;
  background-position: center;
}
